@model WebApplication.Esimed.Projet.Service.TableExigence

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer l'exigence</h2>

<h3>êtes  vous certain de vouloir supprimer votre Projet?</h3>
<div>
    <h4>Table Exigence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Commentaire :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExigenceCommentaire)
        </dd>

        <dt>
            Exigences fonctionnels :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExigenceFonctionnel)
        </dd>

        <dt>
            Tache accomplie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExigenceFonctionTache)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <INPUT TYPE="button"
                   VALUE="Retour à liste"
                   onClick="history.back()"
                   class="btn btn-default">
        </div>
    }
</div>
